
<div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left text-center">
    
    <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left"></div>
    <div class="col-lg-12 col-sm-12 col-md-12 col-12 no_pad float-left">
        <ul class="col-lg-12 col-sm-12 col-md-12 col-12 list-group no_pad" role="listbox">
            <li class="list-item" routerLink="inbox" routerLinkActive="active" ><mat-icon aria-hidden="false" aria-label="Example home icon" class="mr-2"><span class="mt2">Masters</span></mat-icon>Masters</li>
            <li class="list-item" routerLink="invoice" routerLinkActive="active" ><mat-icon aria-hidden="false" aria-label="Example home icon" class="mr-2">receipt</mat-icon>Assign Role</li>
            <li class="list-item" routerLink="approval" routerLinkActive="active" ><mat-icon aria-hidden="false" aria-label="Example home icon" class="mr-2">thumb_up_alt</mat-icon>Groups</li>
        </ul>
    </div>
    </div>
