<!-- <p>assign-role works!</p> -->

<div class="col-12 header">
    
    <div class="col-12 disp-flex no_pad">
        <div class="col-9 no_pad">
            <h2>Assign Role</h2>
        </div>
    <!-- <div class="col-3 no_pad">
        <button class="access-role-cls" (click)="openCustomizeTable()">Role Access</button>    
    </div> -->
    
    </div>
    <div class="border-cls mt10"></div>
    <div class="col-12 no_pad">
        <div class="table-border">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>User Role*</th>
                        <!-- <th> Department</th> -->
                        <th>User Name</th>
                        <th>Email ID</th>
                        <!-- <th style="text-align: center;">
                            <input type="search" id="myInput" style="background-image: url('assets/images/search.svg');" placeholder="Search Users" title="Type in a name"
                                [(ngModel)]="searchText">
                        </th> -->
                    </tr>
                </thead>
</table>